.Conveyor {
    -fx-pref-width: 100%;
    -fx-pref-height: 121px;
}

.Conveyor_label {
    -fx-pref-width: 100%;
    -fx-pref-height: 32px;
    -fx-background-color: #292d32;
    -fx-padding: 0 0 0 10px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.Conveyor_tile {
    -fx-pref-width: 100%;
    -fx-pref-height: 89px;
    -fx-background-image: url("./textures/conveyor_tile.png");
    -fx-smooth: false;
    -fx-background-repeat: repeat;
    -fx-background-size: 40px 103px;
}

.Conveyor_Inbound_label {
    -fx-text-fill: white;
}

.clock-pane {
    -fx-background-radius: 100%;

    -fx-border-color: white;     /* #d3d1c3 */
    -fx-border-radius: 100%;
    -fx-border-width: 4px;

    transition: -fx-background-color 1s;
}

.menu-btn {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-pref-width: 40px;
    -fx-cursor: hand;

    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
    -fx-background-position: center;

    -fx-end-margin: 5;

    -fx-opacity: 100%;
}

.timespeed-I {
    -fx-background-image: url("./textures/speed_I.png");
}
.timespeed-II {
    -fx-background-image: url("./textures/speed_II.png");
}

.menu-btn:hover {
    -fx-opacity: 60%;
}


.primary-btn {
    -fx-border-color: white; -fx-border-width: 2px; -fx-background-color: white; -fx-text-fill: #292d32; -fx-font-weight: bold; -fx-font-size: 14px; -fx-cursor: hand; -fx-padding: 8px 18px;
}

.primary-btn:hover {
    -fx-border-color: #c6c6c6;
    -fx-background-color: #c6c6c6;
}

.secondary-btn {
    -fx-border-color: white; -fx-border-width: 2px; -fx-background-color: transparent; -fx-text-fill: white; -fx-font-weight: bold; -fx-font-size: 14px; -fx-cursor: hand; -fx-padding: 8px 18px;
}

.secondary-btn:hover {
    -fx-border-color: #c6c6c6;
    -fx-text-fill: #c6c6c6;
}